<footer class="site-footer">
	<div class="site-footer__contact">
		<p class="site-footer__contact__address">
			<em>Muse Bridal</em>
			123 High Street<br>
			Newport<br>
			Shropshire<br>
			TF10 7BB
		</p>
		<p class="site-footer__contact__details">
			<em>Tel: </em>01952 814631<br>
			<em>Email: </em><a href="mailto:contact@musebridal.co.uk">contact@musebridal.co.uk</a>
		</p>
	</div>
	<div class="site-footer__opening-hours">
		<h1 class="site-footer__opening-hours__title">Opening Hours</h1>
		<ul class="site-footer__opening-hours__list">
			<li><em>Monday - Friday:</em> 9am - 5pm</li>
			<li><em>Saturday:</em> 10am - 5pm</li>
			<li><em>Sunday:</em> Closed</li>
		</ul>
	</div>
</footer>
