<header class="site-header">
	<div class="site-header__logo">
		<img src="img/logo.svg" alt="Muse Bridal">
	</div>
	<div class="site-header__info">
		<div class="site-header__info__contact">
			<p>Tel: 01952 814631</p>
			<p><a href="mailto:contact@musebridal.co.uk">contact@musebridal.co.uk</a></p>
		</div>
		<div class="site-header__info__social">
			<a href="http://facebook.com/musebridal">
				<img src="img/social/facebook.svg" alt="Muse Bridal Facebook">
			</a>
			<a href="http://twitter.com/musebridal">
				<img src="img/social/twitter.svg" alt="Muse Bridal Twitter">
			</a>
		</div>
	</div>
</header>
