<header class="site-header">

	<a href="{{ site.url }}">
		<div class="site-header__logo">
			<img src="{{ site.url }}images/logo.svg" alt="Muse Bridal">
		</div>
	</a>

	<div class="site-header__info">
		<p class="site-header__info__contact">
			Tel: 01952 814631<br>
			Email: <a href="mailto:info@musebridal.co.uk">info@musebridal.co.uk</a>
		</p>

		<div class="site-header__info__social">
			<a href="http://facebook.com/musebridal">
				<img src="{{ site.url }}images/social/facebook.svg" alt="Muse Bridal Facebook">
			</a>
			<a href="http://twitter.com/musebridal">
				<img src="{{ site.url }}images/social/twitter.svg" alt="Muse Bridal Twitter">
			</a>
		</div>
	</div>

</header>
