//               //
//  NEWS STYLES  //
//               //

.news-posts{
	margin: 0 auto;
	max-width: $m-content-column;
	padding: 1em;
}

	.news-posts__item{
		margin: 2em auto;

		a{
			display: flex;
		}
	}

		.news-posts__item__image{
			height: 300px;
			width: 300px;
		}

		.news-posts__item__wrap{
			margin-left: 2em;
		}

		.news-posts__item__title{
			font-weight: normal;
			line-height: 1.2em;
			margin: 0;
		}

		.news-posts__item__date{
			color: $c-metal;
			font-style: italic;
		}

		.news-posts__item__wrap p{
			max-width: 30em;
			text-align: justify;
			line-height: 1.5em;
		}
