//               //
//  NEWS STYLES  //
//               //

.news-posts{
	margin: 0 auto;
	max-width: $m-content-column;
	padding: 1em;
}

	.news-posts__item{
		margin-bottom: 4em;
	}

		.news-posts__item__title{
			font-weight: normal;
			line-height: 1.2em;
			margin-bottom: 0;
		}

		.news-posts__item__date{
			color: $c-metal;
			font-style: italic;
		}
