//               //
//  POST STYLES  //
//               //

.post{
	max-width: 30em;
	padding: 1em;
	margin: 0 auto;
}

	.post-header{

	}

		.post-header__title{
			margin-bottom: 0;
			font-weight: normal;
			font-size: 3rem;
			line-height: 1.2em;
		}

		.post-header__meta{
			color: $c-metal;
			font-style: italic;
		}

	.post-image{
		max-width: $m-content-column;
		margin: 1em auto;
	}

	.post-content{
		margin-top: 3em;
	}

		.post-content p{
			max-width: 30em;
			text-align: justify;
		}

.post img{
	margin-bottom: 1em;
}
