/* =============== *\
*     FONT-FACE     *
\* =============== */


/* == Garamond == */

@font-face {
	font-family: 'Garamond';
	src: url('fonts/AGaramondPro-BoldItalic.eot');
	src: url('fonts/AGaramondPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/AGaramondPro-BoldItalic.woff') format('woff'),
		url('fonts/AGaramondPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Garamond';
	src: url('fonts/AGaramondPro-Italic.eot');
	src: url('fonts/AGaramondPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/AGaramondPro-Italic.woff') format('woff'),
		url('fonts/AGaramondPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Garamond';
	src: url('fonts/AGaramondPro-Regular.eot');
	src: url('fonts/AGaramondPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/AGaramondPro-Regular.woff') format('woff'),
		url('fonts/AGaramondPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Garamond';
	src: url('fonts/AGaramondPro-Bold.eot');
	src: url('fonts/AGaramondPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/AGaramondPro-Bold.woff') format('woff'),
		url('fonts/AGaramondPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}




/* == Exmouth == */

@font-face {
	font-family: 'Exmouth';
	src: url('fonts/Exmouth.eot');
	src: url('fonts/Exmouth.eot?#iefix') format('embedded-opentype'),
		url('fonts/Exmouth.woff') format('woff'),
		url('fonts/Exmouth.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
