/* ============== *\
*     STYLE.CSS    *
\* ============== */



/* == Colours == */

$c-black: #373333;
$c-grey: #807979;
$c-paper: #ECE8E4;
$c-white: #F9F7F3;

$c-blue: #9AD0D6;
$c-metal: #919C8D;



/* == Font Stacks == */

$f-body: "Garamond", serif;
$f-title: "Exmouth", serif;



/* == Measures == */

$m-content-column: 900px;
$m-border-radius: 10px;



/* == Breakpoints == */

$br-tablet: 1000px;
$br-mobile: 400px;



/* == Transitions == */

$tr-quick-fade: all .3s ease-in;


